.suggest {
	display: block;
	width: 200px;
	overflow: hidden;
	white-space: nowrap;
}

.suggest_area {
	position: fixed;
	width: 200px;
	overflow: hidden;
	white-space: nowrap;
	background-color: white;
}

div.select {
	color: #FFFFFF;
	background-color: #3366FF;
}

div.over {
	background-color: #99CCFF;
}
