.suggest {
	display: block;
	overflow: hidden;
	white-space: nowrap;
}

.suggest_area {
	position: fixed;
	overflow: hidden;
	white-space: nowrap;
	background-color: #f5f5f5;
	width: 80%;
}

div.select {
	color: #FFFFFF;
	background-color: #3366FF;
}

div.over {
	background-color: #99CCFF;
}
